@keyframes scaleButton {
  from {
    transform: scale(0.5);
  }
}

@keyframes live {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@layer base, played, paused, settings, dropdown;

@layer base {
  player {
    display: block;
    position: relative;
    font-size: 20px;
    background-color: #111;
    color: white;
    overflow: hidden;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    border-radius: 0.25em;
  }
  player div {
    overflow: hidden;
  }
  player * {
    outline: none;
  }
  player *,
  player *:before,
  player *:after {
    box-sizing: border-box;
  }
  player video {
    pointer-events: none;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  playerbar {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms linear, visibility 300ms linear;
    will-change: opacity, visibility;
  }
  playerbar end {
    cursor: pointer;
    user-select: none;
  }
  player.active playerbar,
  player.active playerbar {
    transition-delay: 0;
    opacity: 1;
    visibility: visible;
  }
  player:not(.active) {
    cursor: none;
  }
  player play,
  player toggle-screen,
  player audio-icon,
  player setting {
    width: 1.5em;
    height: 1.5em;
    display: block;
    position: relative;
  }
  player play,
  player toggle-screen,
  player audio-icon span,
  player setting span {
    cursor: pointer;
  }
  player setting svg {
    transform: scale(0.8);
  }
  player audio-icon,
  player setting {
    position: relative;
  }
  player audio-icon.show-dropdown dropdown,
  player setting.show-dropdown dropdown {
    opacity: 1;
    visibility: visible;
  }
  player audio-icon > span,
  player setting > span {
    display: block;
    width: 100%;
    height: 100%;
  }
  player svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: currentColor;
    pointer-events: none;
    user-select: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    display: block;
  }
  player live {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
    justify-self: flex-start;
    flex: 1;
  }
  player live svg {
    width: 2rem;
    height: 2rem;
    animation: live 2s infinite;
    color: #fa1130;
  }
  overlayplay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
    will-change: opacity;
  }

  overlayplay.active {
    opacity: 1;
  }

  overlayplay svg {
    width: 7em;
    height: 7em;
    opacity: 0.5;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: linear;
    will-change: transform;
  }

  overlayplay.active svg {
    animation: scaleButton 200ms linear;
    will-change: transform;
  }

  player:not([data-toggle="paused"]) .play-icon {
    display: none;
  }

  player:not([data-toggle="played"]) .pause-icon {
    display: none;
  }

  player:not([data-toggle="played"]):not([data-toggle="paused"]) .pause-icon {
    display: block;
  }
  player timeline {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 0.8em;
    gap: 1rem;
    color: rgba(255, 255, 255, 0.75);
  }

  player timeline-progressbar {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.35em;
    height: 0.5em;
    position: relative;
    cursor: pointer;
  }
  player timeline-progressbar timeline-progress {
    display: block;
    border-radius: 0.5em;
    background-color: white;
    height: 100%;
    transition: width 50ms linear;
    will-change: width;
    position: relative;
    pointer-events: none;
    user-select: none;
  }
  player timeline-progressbar timeline-progress:first-of-type:after {
    content: "";
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    border-radius: 1.25em;
    right: -0.675em;
    top: -0.4em;
    background-color: white;
  }
  player timeline-progressbar .hover-timeline {
    margin-top: -0.5em;
    transition: none;
    width: 0px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  player timeline-buffer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.3);
    transition: width 50ms linear;
    will-change: width;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }

  player loader,
  player forward-rewind,
  player replay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  player loader svg,
  player forward-rewind svg,
  player replay svg {
    width: 5em;
    height: 5em;
    will-change: transform;
  }

  player forward-rewind svg,
  player replay svg {
    opacity: 0.5;
    animation: scaleButton 100ms linear;
  }

  player dropdown {
    background-color: rgba(28, 28, 28, 0.98);
    border-radius: 0.75rem;
    padding-block: 0.25em;
    position: absolute;
    bottom: 1.75em;
    right: 0;
    width: 10em;
    opacity: 0;
    visibility: hidden;
    display: flex;
    overflow: hidden;
    /* height: 6em; */
    transition-property: opacity, visibility, height;
    will-change: opacity, visibility, height;
    transition-duration: 150ms, 150ms, 150ms;
    transition-timing-function: linear;
    align-items: flex-end;
  }

  player dropdown nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 10em;
    transition-duration: 300ms;
    transition-property: transform, opacity, visibility;
    transform-origin: left;
    transform: translateX(0);
    will-change: transform, opacity, visibility;
  }

  player dropdown button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.6em;
    cursor: pointer;
  }

  player dropdown button:hover,
  player dropdown button.active {
    background-color: rgba(255, 255, 255, 0.055);
  }

  player dropdown button.active:before {
    content: "\2713";
  }

  player dropdown button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
  }

  player dropdown .dropdown-back:before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-color: white;
    border-width: 0 0 2px 2px;
    transform: translateY(-1px) rotate(45deg);
    display: inline-block;
    will-change: transform;
  }

  player dropdown nav > span {
    padding: 0.2em 0.6em;
    font-size: 0.8em;
  }

  player dropdown nav + nav {
    opacity: 0;
    visibility: hidden;
    transition-delay: 150ms;
  }

  player dropdown nav + nav button {
    padding-inline: 1em;
  }

  player dropdown nav#playback-list {
    height: 14em;
  }

  player dropdown nav#quality-list {
    transform: translateX(-100%);
  }

  player dropdown.dropdown-active nav:first-child {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }

  player dropdown.show-playback:not(.dropdown-active) nav + nav,
  player dropdown.show-quality:not(.dropdown-active) nav + nav {
    display: none;
  }

  player dropdown.show-playback.dropdown-active nav#playback-list,
  player dropdown.show-quality.dropdown-active nav#quality-list {
    opacity: 1;
    visibility: visible;
  }

  player dropdown.show-playback.dropdown-active nav#playback-list {
    transform: translateX(-100%);
  }

  player dropdown.show-quality.dropdown-active nav#quality-list {
    transform: translateX(-200%);
  }

  player dropdown .quality-auto,
  player dropdown #subtitle-btn span {
    font-weight: 700;
    font-size: 0.85em;
  }

  player dropdown .quality-auto:before,
  player dropdown #subtitle-btn span:before {
    content: "(";
  }

  player dropdown .quality-auto:after,
  player dropdown #subtitle-btn span:after {
    content: ")";
  }

  player video::cue {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: "Arial", sans-serif;
    transform: translateY(-100px);
    will-change: transform;
    transition: transform 200ms linear;
  }
  .player-error {
    background-color: #140c0d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 300;
    border-radius: 0.25em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
  .player-error svg {
    width: 3em;
    height: 3em;
    background-color: #cc1035;
    fill: white;
    border-radius: 50%;
    padding: 0.5em;
  }
}

@layer dropdown {
  player dropdown.show-playback {
    height: 14.5em;
  }
}