sonic-vibe-video-bar {
  --sonic-vibe-timeline-current: "00:00";
  --sonic-vibe-timeline-duration: "00:00";
  --sonic-vibe-timeline: "0%";
  --sonic-vibe-timeline-buffered: "0%";
  --sonic-vibe-timeline-alpha: 0.7;
  --sonic-vibe-theme: 255, 255, 255;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      90deg,
      rgba(
        var(--sonic-vibe-theme),
        calc(var(--sonic-vibe-timeline-alpha) - 0.2)
      ),
      rgba(var(--sonic-vibe-theme), var(--sonic-vibe-timeline-alpha))
        var(--sonic-vibe-timeline),
      rgba(var(--sonic-vibe-theme), 0) var(--sonic-vibe-timeline)
    ),
    linear-gradient(
      90deg,
      rgba(
        var(--sonic-vibe-theme),
        calc(var(--sonic-vibe-timeline-alpha) - 0.4)
      ),
      rgba(
          var(--sonic-vibe-theme),
          calc(var(--sonic-vibe-timeline-alpha) - 0.3)
        )
        var(--sonic-vibe-timeline-buffered),
      rgba(var(--sonic-vibe-theme), 0) var(--sonic-vibe-timeline-buffered)
    );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 0.75em;
  transition-property: background-image, transform, opacity;
  will-change: background-image, transform, opacity;
  transition-duration: 150ms, 300ms, 200ms;
  transition-timing-function: linear;
  transform: translateY(101%);
  opacity: 0;
}

sonic-vibe-video-bar:hover {
  --sonic-vibe-timeline-alpha: 0.65;
}

sonic-vibe-video-bar.preview {
  transform: translateY(0);
  opacity: 1;
}

sonic-vibe-video-bar:before,
sonic-vibe-video-bar:after {
  color: white;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-shadow: 0 0 0.15em rgba(0, 0, 0, 1);
  opacity: 0.85;
  margin-block-start: -3em;
}

sonic-vibe-video-bar::before {
  content: var(--sonic-vibe-timeline-current);
  margin-inline-start: 0.75em;
  pointer-events: none;
}

sonic-vibe-video-bar:after {
  content: var(--sonic-vibe-timeline-duration);
  margin-inline-end: 0.75em;
}
