.sonic-vibe-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.sonic-vibe-bar:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6em;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms linear;
}
sonic-vibe.preview .sonic-vibe-bar:before {
  opacity: 1;
}
sonic-vibe .timeline {
  --sonic-vibe-timeline-current: "00:00";
  --sonic-vibe-timeline-duration: "00:00";
  --sonic-vibe-timeline: "1%";
  --sonic-vibe-timeline-buffered: var(--sonic-vibe-timeline);
  --sonic-vibe-timeline-alpha: 0.6;
  --sonic-vibe-timeline-opacity: 0;
  --sonic-vibe-theme: 255, 255, 255;
  --sonic-vibe-timeline-y: 101%;
  --sonic-vibe-timeline-scale: 0.6;
  position: relative;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      90deg,
      rgba(
        var(--sonic-vibe-theme),
        calc(var(--sonic-vibe-timeline-alpha) - 0.2)
      ),
      rgba(var(--sonic-vibe-theme), var(--sonic-vibe-timeline-alpha))
        var(--sonic-vibe-timeline),
      rgba(var(--sonic-vibe-theme), 0) var(--sonic-vibe-timeline)
    ),
    linear-gradient(
      90deg,
      rgba(
        var(--sonic-vibe-theme),
        calc(var(--sonic-vibe-timeline-alpha) - 0.4)
      ),
      rgba(
          var(--sonic-vibe-theme),
          calc(var(--sonic-vibe-timeline-alpha) - 0.3)
        )
        var(--sonic-vibe-timeline-buffered),
      rgba(var(--sonic-vibe-theme), 0) var(--sonic-vibe-timeline-buffered)
    );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 1em;
  transition-property: background-image, transform, opacity;
  will-change: background-image, transform, opacity;
  transition-duration: 150ms, 200ms, 200ms;
  transition-timing-function: linear;
  transform-origin: bottom;
  transform: translate3d(0, var(--sonic-vibe-timeline-y), 0)
    scale3d(1, var(--sonic-vibe-timeline-scale), 1);
  opacity: var(--sonic-vibe-timeline-opacity);
  cursor: pointer;
}

.sonic-vibe.sonic-vibe-video-cursor sonic-vibe-bar .timeline {
  cursor: none;
}

sonic-vibe .timeline:hover {
  --sonic-vibe-timeline-alpha: 0.9;
  --sonic-vibe-timeline-scale: 1;
}

sonic-vibe.preview .timeline {
  --sonic-vibe-timeline-y: 0%;
  --sonic-vibe-timeline-opacity: 1;
}

sonic-vibe.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-block-end: 0.75em;
  padding: 0 0.8em;
  position: relative;
  transform: translateY(-101%);
  opacity: 0;
  transition-duration: 150ms;
  transition-timing-function: linear;
  transition-property: transform, opacity;
}

.sonic-vibe-bar .btns svg {
  fill: currentColor;
}

.sonic-vibe-bar.preview .btns {
  transform: translateY(0);
  opacity: 1;
}

.sonic-vibe-bar .btn {
  --alpha: 0.7;
  display: none;
  width: 1.25em;
  height: 1.25em;
  transform-origin: center;
  color: rgba(var(--sonic-vibe-icon-theme), var(--alpha));
  transition: color 150ms linear;
}

.sonic-vibe-bar .btn:hover,
.sonic-vibe-bar .btn:focus {
  --alpha: 1;
}

.sonic-vibe-bar .btn.toggle {
  display: inline-block;
}

/* sonic-vibe-bar .play {
}

.sonic-vibe-bar .pause {
} */

.sonic-vibe-bar .volume {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}
.sonic-vibe-bar .volumeIcon {
  display: block;
}

.sonic-vibe-bar .volumeControl {
  display: block;
  width: 5em;
  height: 0.5em;
  background-color: rgba(var(--sonic-vibe-icon-theme), 0.4);
  border-radius: 0.5em;
  position: relative;
}

.sonic-vibe-bar .volumeControl::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.5em;
  background-color: rgba(var(--sonic-vibe-icon-theme), 0.6);
  width: calc(var(--volume) * 100%);
}
.sonic-vibe-bar .volumeControl::after {
  content: "";
  position: absolute;
  left: calc(var(--volume) * 100%);
  transform: translateX(-50%);
  transform-origin: center;
  top: -0.1em;
  bottom: -0.1em;
  width: 0.7em;
  background-color: rgba(var(--sonic-vibe-icon-theme), 0.8);
  border-radius: 0.7em;
}

/* .sonic-vibe-bar:before,
.sonic-vibe-bar:after {
  color: white;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-shadow: 0 0 0.15em rgba(0, 0, 0, 1);
  opacity: 0.85;
  margin-block-start: -3em;
}

.sonic-vibe-bar::before {
  content: var(--sonic-vibe-timeline-current);
  margin-inline-start: 0.75em;
  pointer-events: none;
}

.sonic-vibe-bar:after {
  content: var(--sonic-vibe-timeline-duration);
  margin-inline-end: 0.75em;
} */
