sonic-vibe {
  --sonic-vibe-corners: 0;
  --sonic-vibe-theme-alpha: 1;
  --sonic-vibe-theme: 1, 1, 1;
  --sonic-vibe-icon-theme: 255, 255, 255;
  --sonic-vibe-cursor-alpha: 0.5;
  --sonic-vibe-cursor-x: 0ox;
  --sonic-vibe-cursor-y: 0px;
  --sonic-vibe-cursor-scale: 0.5;
  --sonic-vibe-cursor-text: "";
  --sonic-vibe-cursor-offset: -0.32em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  border-radius: var(--sonic-vibe-corners);
  position: relative;
  outline: none;
}
sonic-vibe.sonic-vibe-video {
  cursor: none;
}
sonic-vibe.sonic-vibe-video:hover::before {
  content: var(--sonic-vibe-cursor-text);
  animation: cursor 2s infinite;
}
sonic-vibe::before {
  position: absolute;
  left: -1em;
  top: -1em;
  background-color: rgba(0, 0, 0, var(--sonic-vibe-cursor-alpha));
  padding: 0.75em;
  border-radius: 2em;
  font-size: 1em;
  min-height: 1em;
  min-width: 1em;
  transform: translate(
      calc(var(--sonic-vibe-cursor-x) + var(--sonic-vibe-cursor-offset)),
      calc(var(--sonic-vibe-cursor-y) + var(--sonic-vibe-cursor-offset))
    )
    scale(var(--sonic-vibe-cursor-scale));
  transform-origin: center;
  transition-timing-function: linear;
  transition-duration: 150ms;
  transition-property: transform, opacity;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
sonic-vibe.trigger:before {
  --sonic-vibe-cursor-scale: 1;
}
sonic-vibe video {
  display: block;
  pointer-events: none;
  border-radius: var(--sonic-vibe-corners);
}
sonic-vibe video::-webkit-media-controls {
  display: none !important;
  opacity: 0;
}
sonic-vibe video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

@keyframes fadeOut {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cursor {
  50% {
    background-color: rgba(0, 0, 0, 0.75);
    transform: translate(
        calc(var(--sonic-vibe-cursor-x) + var(--sonic-vibe-cursor-offset)),
        calc(var(--sonic-vibe-cursor-y) + var(--sonic-vibe-cursor-offset))
      )
      scale(0.75);
  }
  100% {
    background-color: rgba(0, 0, 0, var(--sonic-vibe-cursor-alpha));
    transform: translate(
        calc(var(--sonic-vibe-cursor-x) + var(--sonic-vibe-cursor-offset)),
        calc(var(--sonic-vibe-cursor-y) + var(--sonic-vibe-cursor-offset))
      )
      scale(var(--sonic-vibe-cursor-scale));
  }
}
