sonic-vibe,
sonic-vibe * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

sonic-vibe {
  --screen: #00151d;
  --error-bg: #0d0202;
  --error: #802424;

  font-size: 18px;
  max-width: 100%;
  background-color: var(--screen);
  display: block;
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
